[submodule "kernel/linux"]
	path = kernel/linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "third_party/busybox"]
	path = third_party/busybox
	url = https://git.busybox.net/busybox
